section(data-background="#896BC8")
  h1 Four Things

  section
    img(src="http://www.tshirtvortex.net/wp-content/uploads/8-bits-To-Rule-Them-All.jpg",
            style="width:100%")
  section
    ul
      li gulp.src
      li gulp.dest
      li gulp.task
      li gulp.watch

  section
    p gulp.src
    ul
      li Takes a list of globs
      li Returns a stream
      li Preserves order of files in list
  section
    p gulp.dest
    ul
      li Takes a path to a destination directory
      li Returns a stream
  section
    p gulp.task
    ul
      li Is exposed to the command line
      li Interfaces with gulp's dependency management
      li Synchronous by default
  section
    p gulp.watch
    ul
      li Takes a list of globs
      li Triggers a task or function
