section
  h1 Hot Drama
  br
  p
    a(href='http://www.100percentjs.com/just-like-grunt-gulp-browserify-now/') “Grunt and RequireJS are out, it's all about Gulp and Browserify”
  p(class="fragment") Really, it depends on what you like.
  p(class="fragment") “One man's poison Ivy is another man's spinach.” - George Ade