section(data-background="#896BC8")
  h1 Pipes
  section
    img(src="http://3.bp.blogspot.com/_XdP6Lp2ceqY/TIrCyPXqtLI/AAAAAAAAbSM/kvwARUT1KXM/s1600/296663.jpg")
  section
    pre
      code.
        gulp.src("foo")
          .pipe(doSomethingToTheStream)
          .pipe(doAnotherThing)
          .pipe(andAnother)

    | It's all about streams!
