section(data-background="#896BC8")
  section
    h1 Remember
    img(src="http://i3.kym-cdn.com/photos/images/newsfeed/000/455/602/1a1.png")

  section
    | It's just Node.

  section
    | Use normal Javascript functions when you don't need what gulp.task offers.

  section
    p gulp is:
    br
    ul
      li A module with build-centric stream helpers.
      li A module for drop-dead simple CLI.
      li A module to manage build order.

  section
    p Use gulp for what it does well.
    p Everything else is just Node.
