section
  h1 A Gulp of Gulp.js
  img(src='images/gulp.svg', class="undecorated" style="float:left; padding: 1em;")
  p(style="margin-top: 2em;margin-bottom:2em;") Getting started with the streaming build system.
  p by Murphy Randle.
  a(href="http://murphyrandle.github.io/AGulpOfGulp") murphyrandle.github.io/AGulpOfGulp
